  
.automoviles {

    list-style: none;
    background-color: #84a9ac;
    margin-top: 10px;
    padding: 5px;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.pagination{
    justify-content: center;
}

